<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/logo.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">코딩이랑 무관합니다만</a></h1>
            <p>{{site.explainMain}}</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.baseurl }}/post">Post</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://www.facebook.com/groups/System.out.Coding" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/SystemOutCoding/Comu" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:arcuer.dev@gmail.com?subject=[코딩이랑 무관합니다만 건의사항]" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

